<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="DashCore.Setup" Language="1033" Version="1.0.0.2" Manufacturer="tspeech" UpgradeCode="2087543f-f24a-4ad9-b4e6-e8e55364bcad">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Property Id='ADMINPASSWORD' Secure='yes'/>

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Dialog Id="MyDialog" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" TabSkip="no">
          <Text>Choose Admin Password</Text>
        </Control>
        <Control Id="NameLabel" Type="Text" X="45" Y="73" Width="100" Height="15" TabSkip="no" Text="&amp;Admin Password:" />
        <Control Id="NameEdit" Type="Edit" X="45" Y="85" Width="220" Height="18" Property="ADMINPASSWORD" Text="{80}" Password="yes"/>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Default="yes" Text="Back">
          <Publish Event="NewDialog" Value="LicenseAgreementDlg" />
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next">
          <!--<Condition Action="disable"><![CDATA[ADMINPASSWORD = ""]]></Condition>-->
          <Publish Event="SpawnDialog" Value="UserIdError"><![CDATA[ADMINPASSWORD = ""]]></Publish>
          <Publish Event="NewDialog" Value="InstallDirDlg" />
          <!--<Condition Action="disable"><![CDATA[ADMINPASSWORD <> "1"]]></Condition>
          <Condition Action="enable">ADMINPASSWORD = "1"</Condition>-->
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <!--<Control Id="CustomAction" Type="PushButton" X="195" Y="243" Width="56" Height="17" Default="yes" Text="Custom Action" >
          <Publish Event="DoAction" Value="SilentExecExample">1</Publish>
        </Control>-->
      </Dialog>

      <Dialog Id="UserIdError" Width="260" Height="85" NoMinimize="no" Title="[ProductName]">
        <Control Id="UserIdErrorDesc" Type="Text" Width="194" Height="30" X="48" Y="15" Text="Please enter a Password." />
        <Control Id="UserIdErrorOk" Type="PushButton" X="97" Y="57" Width="56" Height="17" Text="Ok">
          <Publish  Event="EndDialog" Value="Return">1</Publish>
        </Control>
      </Dialog>

      <!--<Publish Dialog="MyDialog" Control="Next" Event="NewDialog" Value="UserExit" Order="3"></Publish>-->
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="MyDialog" Order="3">LicenseAccepted = "1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="MyDialog" Order="4">2</Publish>
    </UI>    

    <WixVariable Id="WixUILicenseRtf" Value="licenceagreement.rtf" />

		<Feature Id="ProductFeature" Title="DashCore.Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProductMenuComponents" />
      <ComponentGroupRef Id="aspcoreforwixsetupcomps" />
		</Feature>

    <Property Id="POWERSHELLEXE">
      <RegistrySearch Id="POWERSHELLEXE"
                      Type="raw"
                      Root="HKLM"
                      Key="SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell"
                      Name="Path" />
    </Property>
    <Condition Message="This application requires Windows PowerShell.">
      <![CDATA[Installed OR POWERSHELLEXE]]>
    </Condition>

    <SetProperty Id="InvokeTestPS1"
                 Before="InvokeTestPS1"
                 Sequence="execute"
                 Value ="&quot;[POWERSHELLEXE]&quot; -Version 2.0 -NoProfile -NonInteractive -InputFormat None -ExecutionPolicy Bypass -F &quot;[#InvokeTestPS1]&quot; -filePath &quot;myfile.txt&quot; -adminPass [ADMINPASSWORD]" />
    <CustomAction Id="InvokeTestPS1"
                  BinaryKey="WixCA"
                  DllEntry="CAQuietExec"
                  Execute="deferred"
                  Return="check"
                  Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="InvokeTestPS1" After="InstallFiles">
        <![CDATA[NOT Installed]]>
      </Custom>
    </InstallExecuteSequence>
  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="DashCore"/>
      </Directory>
      <Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="DashCore.Setup" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
      <Component Id="invoketestps1" Guid="e6fc15da-70f3-4942-a430-21a905ae236c">
        <File Id="InvokeTestPS1" Source="Invoke-Test.ps1" />
      </Component>
		</ComponentGroup>

    <ComponentGroup Id="ProductMenuComponents" Directory="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{AE75A17D-3EBF-4B68-AA32-73D18D983317}" >
        <Shortcut
            Id="ApplicationStartMenuShortcut"
            Name="DashCore"
            Description="DashCore"
            Target="[#fil9B874FF3B342EC4A161AB3C5974C5932]"
            WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue
            Root="HKCU"
            Key="Software\tspeech\DashCore"
            Name="installed" Type="integer" Value="1"
            KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
